* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

html body {
  height: 100%;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 7%;
}

#blackboard {
  height: 70px;
  margin-right: auto;
  padding: 0;
}

.dropdown button {
  background-color: hsl(143, 81%, 30%);
  color: black;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.navLinks li {
  list-style: none;
}

.navLinks a {
  text-decoration: none;
  color: black;
  padding: 15px;
  display: block;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 15px;
}

.dropdown .content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100px;
  box-shadow: 2px 2px 5px hsla(0, 0, 0, 0.8);
}

.dropdown:hover .content {
  display: block;
}

.dropdown:hover button {
  background-color: hsl(143, 81%, 37%);
}

.navLinks a:hover {
  background-color: hsl(143, 81%, 37%);
  display: block;
}

@media only screen and (min-width: 600px) {
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 10%;
  }

  .dropdown button {
    display: none;
  }

  .dropdown .content{
    display: inline-block;
    position: static;
  }

  #blackboard {
    height: 70px;
    margin-right: auto;
    padding: 0;
  }

  .navLinks li,
  a {
    text-decoration: none;
    color: black;
    padding: 15px;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
  }

  .navLinks li:hover {
    display: inline-block;
  }
}

#main {
  height: 100%;
  width: 100%;
  background-color: rgb(6, 70, 43);
  padding-left: 20px;
  padding-right: 20px;
  color: #e0dbd1;
}

h1, h3 {
  text-align: center;
  padding: 20px;
}

p {
  text-align: justify;
  padding: 10px;
}

.input{
  text-align: center;
  font-size: 18px;
  margin: 5px;
}

#label{
  font-size: 21px;
}

#button, #reset{
  padding: 5px;
}

#diagram{
  
  scale: 0.2;
  background-color: white;
}
